@model EZtouch.CarRentalHub.ApplicationCore.Entities.Color

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Color</h4>
    <hr />
    <dl class="row">
        <dt class="col-lg-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-lg-3">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-lg-3">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-lg-3">
            @Html.DisplayFor(model => model.Code)
            <svg height="25" width="25">
                <circle cx="12.5" cy="12.5" r="10" stroke="black" stroke-width="1" fill="@Html.DisplayFor(modelItem => modelItem.Code)" />
            </svg>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ColorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
